[submodule "colorbox/repo"]
	path = colorbox/repo
	url = http://github.com/jackmoore/colorbox.git
[submodule "jquerytools/repo"]
	path = jquerytools/repo
	url = git://github.com/jquerytools/jquerytools.git
[submodule "webfontloader/repo"]
	path = webfontloader/repo
	url = git://github.com/typekit/webfontloader.git
